.name-gen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  overflow: hidden;
  max-width: 400px;
  border-radius: 20px;

  &__result {
    padding: 8px;

    &-race {
      text-align: right;
    }
  }

  &__btn {
    background-image: linear-gradient(
      to right,
      #870000 0%,
      #190a05 51%,
      #870000 100%
    );
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    &:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
    }
  }
}
